<div class="form-horizontal">
    <h3>Create a new Broker</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Brokers/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Brokers</h3>
    <form id="BrokerSearch" class="form-horizontal">
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input id="firstName" name="firstName" class="form-control" type="text" ng-model="search.firstName" placeholder="Enter the Broker First Name"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="middleName" class="col-sm-2 control-label">Middle Name</label>
        <div class="col-sm-10">
            <input id="middleName" name="middleName" class="form-control" type="text" ng-model="search.middleName" placeholder="Enter the Broker Middle Name"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input id="lastName" name="lastName" class="form-control" type="text" ng-model="search.lastName" placeholder="Enter the Broker Last Name"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
            <select id="gender" name="gender" class="form-control" ng-model="search.gender" ng-options="g as g for g in genderList">
                <option value="">Choose a Gender</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="ssn" class="col-sm-2 control-label">Ssn</label>
        <div class="col-sm-10">
            <input id="ssn" name="ssn" class="form-control" type="text" ng-model="search.ssn" placeholder="Enter the Broker Ssn"></input>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Ssn</th>
                    <th>Birth Date</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Brokers/edit/{{result.id}}">{{result.firstName}}</a></td>
                    <td><a href="#/Brokers/edit/{{result.id}}">{{result.middleName}}</a></td>
                    <td><a href="#/Brokers/edit/{{result.id}}">{{result.lastName}}</a></td>
                    <td><a href="#/Brokers/edit/{{result.id}}">{{result.gender}}</a></td>
                    <td><a href="#/Brokers/edit/{{result.id}}">{{result.ssn}}</a></td>
                    <td><a href="#/Brokers/edit/{{result.id}}">{{result.birthDate| date:'mediumDate'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
</div>